@page "/"
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<link rel="stylesheet" href="~/css/terapisayfalari.css">
<div class="container">
    <div class="text-content">
        <h1>RAIN Psikolog Merkezi</h1>
        <p style="font-size:20px;">
            Uzman ve deneyimli psikologlarımız, zihin sağlığınızı güçlendirmek ve hayatınıza denge katmak için sizlere destek oluyor. Ankara’daki psikolog merkezimiz, çift terapisi, bireysel terapi, çocuk ve ergen danışmanlığı, aile terapisi ve kurumsal danışmanlık gibi alanlarda uzmanlaşmıştır. Ankara psikolog merkezimizle, yaşamınızdaki zorluklara karşı birlikte çözümler üretebilir ve daha dengeli bir hayat için adım atabilirsiniz.
        </p>
    </div>
    <div class="image-content">
        <img src="~/imgs/1.png" alt="Açıklama" />
    </div>
</div>

<div class="container reverse">
    <div class="text-content">
        <h1>DEHB Nedir?</h1>
        <p style="font-size:20px;">
            Nörogelişimsel bir bozukluk olan DEHB (dikkat eksikliği ve hiperaktivite bozukluğu), çocuklarda hiperaktif hareketler, dikkat dağınıklığı, odaklanamama, konsantrasyon bozukluğu ve dürtüsel davranışlar ortaya çıkaran bir durumdur. Dikkat eksikliği ve hiperaktivite bozukluğu olan bireylerde, beynin dikkati ve sosyal muhakemeyi kontrol eden bölgeleri zayıftır. Daha çok çocuklarda görülsede tüm bir yaşama yayılabilir.
        </p>
    </div>
    <div class="image-content">
        <img src="~/imgs/2.png" alt="Açıklama" />
    </div>
</div>

<div class="container">
    <div class="text-content">
        <h1>Obsesif Kompulsif Bozukluk (OKB)</h1>
        <p style="font-size:20px;">
            Obsesif Kompulsif Bozukluk (OKB), tekrarlayan ve istenmeyen düşünceler (obsesyonlar) ile bu düşünceleri azaltmak için yapılan zorlayıcı davranışlar (kompulsiyonlar) ile karakterize edilen bir ruhsal bozukluktur. OKB belirtileri arasında sürekli el yıkama, aşırı düzen takıntısı ve tekrar eden kontrol etme davranışları yer alır. Bu belirtiler kişinin yaşam kalitesini olumsuz etkileyebilir. OKB tedavisi, psikoterapi (bilişsel davranışçı terapi) ve bazı durumlarda antidepresan ilaçlarla yapılır. Erken teşhis ve tedavi, semptomların kontrol altına alınmasına yardımcı olabilir.
        </p>
    </div>
    <div class="image-content">
        <img src="~/imgs/3.png" alt="Açıklama" />
    </div>
</div>

